ErrorDocument 404 /projecttecweb/Gameometry-webSite/Gameometry/Codice/404.php 
ErrorDocument 500 /projecttecweb/Gameometry-webSite/Gameometry/Codice/500.php
ErrorDocument 501 /projecttecweb/Gameometry-webSite/Gameometry/Codice/500.php
ErrorDocument 502 /projecttecweb/Gameometry-webSite/Gameometry/Codice/500.php
ErrorDocument 503 /projecttecweb/Gameometry-webSite/Gameometry/Codice/500.php
ErrorDocument 504 /projecttecweb/Gameometry-webSite/Gameometry/Codice/500.php
ErrorDocument 505 /projecttecweb/Gameometry-webSite/Gameometry/Codice/500.php
ErrorDocument 507 /projecttecweb/Gameometry-webSite/Gameometry/Codice/500.php