/*
==============
SEZIONE HEADER
==============
*/

header{
    padding: 0.5em;  
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: 4em 10em 2em 3em;
    grid-gap: 15px;
}  

#logoSito{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
}
#logoSito img{
    padding-top: 0.8em;
    width: auto;
}

#menu{
    display: list-item;
    padding: 0.5em;
    grid-row: 2;
    grid-column: 1;
}

#menu ul li{
    display: block;
    padding: 0.5em;
    grid-row: 2;
    grid-column: 1;
}

header div{
    display: flex;
    justify-content: center;
}

#ricerca{
    grid-row: 3;
    grid-column: 1;
    padding-top: 0.6em;
    background-color: #f8f0e3;
    width: 30%;
    height: 1.0em;
    border-radius: 5px;
}

#cerca img{
    padding-left: 0.5em;
}
#searchBar{
    all: unset;
    width: 70%;
    height: 2.0em;
    margin-right: 2em;
    font-size: 0.7em;
}

#areaRiservata{
    display: flex;
    justify-content: center; 
    grid-row: 4;
    grid-column: 1;
}

/*
=================
SEZIONE CONTENUTO
=================
*/

main{
    max-width: 1024px;
    margin: auto;
    padding-top: 25em;   
    background-color: #191919; 
}

/*
===========
ULTIME NEWS
===========
*/

#news-grid-container{
    display: grid;
    grid-template-areas:
        'news1'
        'news2'
        'news3'
        'news4'
        'news5';
    grid-template-columns: 105%;
    gap: 0.8em;
    padding-top: 1.7em;
    padding-bottom: 0.5em;
    padding-right: 2.5em;
}

#breadcrumb{
    align-content: center;
    font-size: 1.0em;
    padding: 0.3em 0em 0.3em 1em;
    font-weight: bold;
    background-color: #f8f0e3;
}

.news-box,
.mainnews-box{
    min-height: 18.0em;
    max-height: 20.0em;
}

.sidenews-section>h2,
.mainnews-section>h2{
    font-weight: bolder;
    line-height: 1.5em;
    font-size: 2.0em;
    padding-top: 0.5em;
}

.carousel img{
    height: 25vh;
}

#btn-left, #btn-right{
    width: 30%;
}

.mainnews-section>.author{
    padding-top: 1.0em;
}

.news-topic{
    padding-top: 0.0em;
    font-size: 1.5em;
}

.author{
    font-size: 1.0em;
}

.sidenews-topic{
    font-size: 1.5em;
    padding: 0.0em;
}

.side-author{
    font-size: 1.0em;
}

.mainnews-box>img,
.news-box>img{
    min-height: 6em;
    max-height: 20em;
    align-items: center;
    object-fit: cover;
}

/*
=================
ULTIME RECENSIONI
=================
*/

.titoloCritica{
    font-size: 0.8em;
}

#recensioni-critica p{
    font-size: 0.7em;
}

/*
===============
ULTIMI COMMENTI
===============
*/

.contenutoRecensione li{
    font-size: 0.7em;
}

.contenutoRecensione li:last-child{
    padding-top: 1.2em;
}

/*
==============
SEZIONE FOOTER
==============
*/

footer{
    margin-top: 3.0em;
    background-color: #F77F00;
    text-align: center;
}

#boxFooter img{
    width: 20%;
    padding-top: 1.0em;
    padding-bottom: none;
}

#aboutUs{
    padding-bottom: 0.5em;
    font-size: 0.6em;
}
#infoAzienda{
    padding-bottom: 0.5em;
    font-size: 0.6em;
}
