*{
    padding: 0em;
    margin: 0em;
}

html,body{
    font-family: "Poppins", "sans-serif";
    line-height: 1.5em;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.650);
}

a,abbr{
    text-decoration: none;
}

/*
==============
SEZIONE HEADER
==============
*/

#menu a:link{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#menu a:visited{
    color: white;
}

#menu a:hover{
    color: #C52727;
    text-decoration: underline;
    text-decoration: underline solid 1.5px;
}

#menu a:active {
    color: white;
}


header {
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 0.5fr;
    grid-gap: 15px;
}

header h1 {
    display: none;
    text-indent: -9999px;
    line-height: 1.5em;
}

#header {
    position: fixed;
    width: 100%;
    background-color: #F77F00;
}

#logoSito {
    grid-row: 1;
    grid-column: 1/2;
}

#logoSito img {
    padding-top: 0.8em;
    width: 120%;
}

header nav {
    grid-row: 1;
    grid-column: 2/3;
    padding: 0.6em;
    padding-left: 2em;
    align-self: center;
    border-bottom: 1.0em;
}

#menu ul li {
    display: inline;
    padding: 2.0em;
}

header div {
    display: flex;
    justify-content: center;
}

#navUtente{
    margin-top:1.5em;
    margin-bottom: 1.5em;
}
#ricerca {
    grid-row: 1;
    grid-column: 3/4;
    padding: 0.6em;
    background-color: #f8f0e3;
    width: 79%;
    height: 1em;
    border-radius: 5px;
    display: flex;
    align-self: center;
    flex-direction: row;
    margin-right: 1.5em;
    padding-right: 0em;
    align-items: center;
}

#searchBar {
    all: unset;
    width: 70%;
    height: 2.0em;
    margin-right: 2.5em;
}

#cerca {
    float: right;
    cursor: pointer;
    height: 1.5em;
    width: 50px;
}

#cerca img {
    padding-right: 0.5em;
    padding-left: 1.0em;
}

#areaRiservata {
    grid-row: 1;
    grid-column: 4/4;
    align-self: center;
    margin-left: 1em;
}

#areaRiservata img {
    padding-top: 0.2em;
    height: 2.0em;
}

#menu ul,
#funzioniUtente ul {
    text-align: center;
}

ul {
    list-style-type: none;
}

/*
==================
SEZIONE BREADCRUMB
==================
*/

#breadcrumb {
    align-content: center;
    font-size: 1.1em;
    padding: 0.3em 0em 0.3em 1em;
    font-weight: bold;
    background-color: #f8f0e3;
}

#breadcrumb p {
    text-align: center;
}

#breadcrumb a:link {
    color: black;
    text-decoration: none;
}

#breadcrumb a:visited {
    color: black;
}

#breadcrumb a:hover {
    color: #C52727;
    text-decoration: underline;
    text-decoration: underline solid 1.5px;
}

#breadcrumb a:active {
    color: black;
}

/*
=================
SEZIONE CONTENUTO
=================
*/

/*
======
SLIDER
======
*/

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42vh;
    max-width: 1200px;
}

.horizontal-wrapper{
    width: 100%;
    height: 40vh;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.horizontal-wrapper .carousel{
    scrollbar-width: none;
    display: flex;
    transition: 0.5s all ease-out;
    overflow-x: scroll;
    scroll-behavior:smooth;
}

.imgs{
    cursor: pointer;
    height: 37vh;
    margin-left: 8px; 
    border-radius: 8px;
}

#btn-left{
    width: 10%;
    float: left;
    margin-left: 5px;
}

#btn-right{
    width: 10%;
    margin-left: 13px;
}

.carousel{
    float: left;
    margin-left: 1.0em;
    margin-right: 1.15em;
}

.wrapper button{
    cursor: pointer;
    text-align:center;
    color:white;
    border: none;
    border-radius: 50%;
    opacity: 0.5;
    font-size: 4.0em;
    font-weight: bold;
    background-color: transparent;
    display: contents;
}

.wrapper button:hover{
    opacity: 0.8;
}

main{
    max-width: 1024px;
    margin: auto;
    padding-top: 10em;   
    background-color: #191919; 
}

/*
===========
ULTIME NEWS
===========
*/

#news1 {
    grid-area: news1;
}

#news2 {
    grid-area: news2;
}

#news3 {
    grid-area: news3;
}

#news4 {
    grid-area: news4;
}

#news3 {
    grid-area: news5;
}

#news-grid-container {
    display: grid;
    grid-template-areas:
        'news1 news1 news2 news3'
        'news1 news1 news4 news5';
    gap: 0.8em;
    padding-top: 1.7em;
    padding-bottom: 0.5em;
    padding-right: 2.5em;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: 20em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.mainnews-box,.news-box {
    display: flex;
    block-size: 200px;
    flex-direction: column;
    color: #f8f0e3;
    color: black;
}

.mainnews-section,.sidenews-section {
    padding: 3%;
    background-color: rgb(230, 230, 230);
    max-height: 8em;
}

.news-box>img {
    min-height: 13.1em;
    object-fit: cover;
    width: 100%;
    height: 100%;
    align-items: center;
}

.mainnews-box>img {
    align-items: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 30.8em;
}

.mainnews-section>h2 {
    font-weight: bolder;
    line-height: 1.5em;
    font-size: 1.5em;
}

.author {
    padding-top: 4%;
    padding-bottom: 4.5%;
    font-size: 1em;
}

.news-topic {
    padding-top: 4%;
    font-size: 1em;
}

.sidenews-topic {
    padding-top: 2%;
    padding-bottom: 0.8em;
    font-size: 1em;
}

.sidenews-section>h2 {
    font-weight: bolder;
    font-size: 1em;
}

.side-author {
    padding-top: 2%;
    font-size: 0.8em;
}

/*
=================
ULTIME RECENSIONI
=================
*/

.titoloCritica {
    text-align: left;
    overflow: hidden;
    padding-bottom: 1.0em;
    padding-top: 0.5em;
    font-size: 1.2em;
}

.titoloCritica a:link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.titoloCritica a:visited {
    color: white;
}

.titoloCritica a:hover {
    color: #C52727;
    text-decoration: underline;
    text-decoration: underline solid 1.5px;
}

.titoloCritica a:active {
    color: white;
}

.contenutoRecensione {
    display: flex;
    float: left;
    flex-direction: column;
    margin-right: 6em;
}

.contenutoRecensione li {
    color: white;
    list-style: none;
}

.commento {
    display: flex;
    margin-top: 2em;
    margin-bottom: 1em;
}

#recensioni-critica>dd {
    padding: 0.2em;
}

#recensioni-critica dd>p {
    color: white;
}

.r1 {
    float: left;
    height: 15em;
    width: 25%;
    padding: 0.1em;
    margin-right: 1.0em;
    padding-right: 1.0em;
}

#recensioni-critica div {
    border-bottom: 1px solid #F77F00;
    border-top: none;
    padding-left: none;
    padding: 1.0em;
    overflow: hidden;
}

h1 {
    font-size: 1.6em;
    margin-top: 1.0em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding: 0.4em;
    border-radius: 7px;
    color: white;
    text-align: left;
    background-color: #F77F00;
    border: 0.5px solid #F77F00;
}

#recensioni-critica div:last-child {
    border-bottom: none;
}

#recensioni-utenti div:last-child {
    border-bottom: none;
}

#recensioni-utenti>div {
    border-bottom: 1px solid #F77F00;
    border-top: none;
    padding: 1.0em;
    overflow: hidden;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.contenutoRecensione li:last-child {
    padding-top: 1.2em;
}

.r2 {
    float: left;
    margin: 0.5em;
    margin-right: 2em;
    height: 11em;
    width: 18%;
    background-repeat: no-repeat;
    padding: 1em;
    padding-right: 3em;
    padding-left: 1.5em;
}

.punteggio {
    float: right;
    color: white;
    font-size: 2em;
}

/*
==============
SEZIONE FOOTER
==============
*/

footer {
    margin-top: 3.0em;
    background-color: #F77F00;
    text-align: center;
}

#boxFooter img {
    width: 10%;
    padding-top: 1.0em;
    padding-bottom: none;
}

#aboutUs {
    padding-bottom: 0.5em;
}

#infoAzienda {
    padding-bottom: 0.5em;
}

/*
===========
PAGINA NEWS
===========
*/

#ultime-notizie div {
    border-bottom: 1px solid #F77F00;
    color: white;
    padding: 1.5em;
    overflow: hidden;
}

#ultime-notizie div:last-child {
    border-bottom: none;
}

.titoloNotizia {
    text-align: left;
    overflow: hidden;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
}

.dataNews {
    padding-bottom: 0.4em;
    font-weight: bold;
}

#notizie-videogiochi {
    padding-top: 1.0em;
    padding-bottom: 1.5em;
}

.news-img {
    float: left;
    height: 13.0em;
    width: 35%;
    padding: 0.1em;
    margin-right: 1.0em;
    padding-right: 3.0em;
}

/*
==================
PAGINA VIDEOGIOCHI
==================
*/

#sezioneVideogiochi img {
    padding: none;
    width: 75%;
    height: 22.0em;
}

#sezioneVideogiochi {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 25.0em);
    grid-row-gap: 2.0em;
    grid-column-gap: 2.0em;
    padding-bottom: 1.5em;
    margin-bottom: 5.0em;
    align-items: center;
    justify-items: center;
}

/*
=============
PAGINA EVENTI
=============
*/

#ultimiEventi:last-child {
    padding-bottom: 0.6em;
}

.evento {
    margin: 1.0em;
    margin-bottom: 3.0em;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    background-color: gray;
}

.evento h2 {
    padding-bottom: 0.6em;
    font-size: 1.4em;
}

.immagineEvento {
    width: 80%;
    padding-bottom: 0.6em;
}

.descrizioneEvento {
    padding: 2%;
    background-color: rgb(30, 30, 30);
}

.descrizioneEvento p {
    padding-bottom: 0.4em;
}

/*
=========================
PAGINA SINGOLA RECENSIONE
=========================
*/

#headerRecensione {
    overflow: hidden;
    margin-top: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding-top: 1em;
    border-bottom: #F77F00 solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#titoloRecensione {
    display: flex;
    justify-content: center;
    border: none;
    background-color: unset;
    margin-top: unset;
    padding-bottom: 0.6em;
    font-weight: bold;
    font-size: 2em;
    color: white;
}

#headerRecensione>span {
    display: flex;
    justify-content: center;
    font-size: 1em;
    color: white;
}

#copertina {
    margin-top: 2em;
    width: 100%;
    height: 300px;
    background-image: url(../Codice/Immagini/copertina5.jpg);
    background-size: cover;
    padding-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

#scores {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    margin-bottom: 2em;
    margin-top:1em
}

#scores>div {
    display: flex;
    align-items: center;
    border-radius: 30px;
    flex-direction: column;
    padding-top: 0.8em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#scores span {
    color: white;

}

#rec {
    background-color: #f78000d3;
}


#contenuto {
    line-break: anywhere;
    color: white;
    margin: 1.5em;
    margin-bottom: 3em;
}

/*
=============
PAGINA UTENTE
=============
*/

dl{
    color: rgb(255, 255, 255);
}

.user-info>dt{
    font-weight: bolder;
    float: left;
    margin-left: 3em;
}

.user-info{
    padding-top: 8em;
    padding-bottom: 5em;
    line-height: 2em;
}

.user-icon{
    margin: 3em;
    padding: 1em;
    width: 15em;
    float: left;
    background-color: white;
    border-radius: 99%;
}

.user-info>dt::after{
    content: ": ";
}

.title{
    font-size: 1.6em;
    margin-top: 1.0em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding: 0.4em;
    border-radius: 7px;
    color: white;
    text-align: left;
    background-color: #F77F00;
    border: 0.5px solid #F77F00;
}

/*
=============================
ALTERAZIONE DIMENSIONI PAGINA
=============================
*/

@media screen and (max-width:1500px) {
    #menu ul li {
        display: inline;
        padding: 1.3em;
        font-size: 1.0em;
    }

    #searchBar {
        font-size: 0.8em;
    }
}

@media screen and (max-width:1230px) {
    #menu ul li {
        display: inline;
        padding: 0.8em;
        font-size: 0.8em
    }

    #searchBar {
        font-size: 0.6em;
    }
}

@media screen and (max-width:950px) {
    #menu ul li {
        display: inline;
        padding: 0.2em;
        font-size: 0.8em;
    }

    #searchBar {
        font-size: 0.4em;
    }
}