ErrorDocument 404 /Gameometry/Codice/404.php 
ErrorDocument 500 /Gameometry/Codice/500.php
ErrorDocument 501 /Gameometry/Codice/500.php
ErrorDocument 502 /Gameometry/Codice/500.php
ErrorDocument 503 /Gameometry/Codice/500.php
ErrorDocument 504 /Gameometry/Codice/500.php
ErrorDocument 505 /Gameometry/Codice/500.php
ErrorDocument 507 /Gameometry/Codice/500.php