DirectoryIndex index.php
ErrorDocument 404 http://localhost:30080/fsabbadi/Gameometry-webSite/Gameometry/Codice/404.php
ErrorDocument 500 http://localhost:30080/fsabbadi/Gameometry-webSite/Gameometry/Codice/500.php
ErrorDocument 501 http://localhost:30080/fsabbadi/Gameometry-webSite/Gameometry/Codice/500.php
ErrorDocument 502 http://localhost:30080/fsabbadi/Gameometry-webSite/Gameometry/Codice/500.php
ErrorDocument 503 http://localhost:30080/fsabbadi/Gameometry-webSite/Gameometry/Codice/500.php
ErrorDocument 504 http://localhost:30080/fsabbadi/Gameometry-webSite/Gameometry/Codice/500.php
ErrorDocument 505 http://localhost:30080/fsabbadi/Gameometry-webSite/Gameometry/Codice/500.php
ErrorDocument 507 http://localhost:30080/fsabbadi/Gameometry-webSite/Gameometry/Codice/500.php