/*
==============
SEZIONE HEADER
==============
*/

header {
    padding: 0.5em;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 2em 2em;
    grid-gap: 15px;
    padding-bottom: 1em;
    max-height: 9.0em;
}

#logoSito {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    padding: unset;
}

#logoSito img {
    padding-top: 0.8em;
    width: auto;
}

#menu {
    display: list-item;
    padding: 0.5em;
    grid-row: 2;
    grid-column: 1;
}

#menu ul li {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.5em;
    border-right: 1px solid white;
    grid-row: 2;
    grid-column: 1;
}

#menu ul li:last-child {
    border-right: none;
}

header div {
    display: flex;
    justify-content: center;
}

#navUtente {
    display: flex;
    align-items: center;

}

#ricerca {
    grid-row: 3;
    grid-column: 1;
    padding-top: 0.6em;
    background-color: #f8f0e3;
    width: 100%;
    height: 1.0em;
    border-radius: 5px;
}

#cerca img {
    padding-left: 0.5em;
}

#searchBar {
    all: unset;
    width: 70%;
    height: 2.0em;
    margin-right: 2em;
    margin-left: 2em;
    font-size: 1.4em;
}

#SezRicerca{
    width: 50%;
}

#areaRiservata {
    grid-row: 4;
    grid-column: 1;
}

#areaRiservata img {
    width: 80%;
    height: 3em;
}

/*
=================
SEZIONE CONTENUTO
=================
*/

main {
    max-width: 1024px;
    margin: auto;
    padding-top: 14em;
    background-color: #191919;
}

/*
======
SLIDER
======
*/

.horizontal-wrapper .imgs {
    width: 4.5em;
    height: 6em;
}

/*
===========
ULTIME NEWS
===========
*/

#news-grid-container {
    display: grid;
    grid-template-areas:
        'news1'
        'news1'
        'news2'
        'news2'
        'news3'
        'news3'
        'news4'
        'news4'
        'news5'
        'news5';
    grid-template-columns: 105%;
    gap: 3em;
    padding-top: 1.7em;
    padding-right: 2.5em;
}

#breadcrumb {
    align-content: center;
    font-size: 1.0em;
    padding: 0.3em 0em 0.3em 1em;
    font-weight: bold;
    background-color: #f8f0e3;
}

.news-box,
.mainnews-box {
    min-height: 18.0em;
    max-height: 20.0em;
}

.sidenews-section>h2,
.mainnews-section>h2 {
    font-weight: bolder;
    line-height: 1.5em;
    font-size: 1.50em;
    padding-top: 0.5em;
}

.carousel img {
    height: 25vh;
}

#btn-left,
#btn-right {
    width: 30%;
}

.mainnews-section>.author {
    padding-top: 1.0em;
}

.news-topic,
.sidenews-topic {
    font-size: 1em;
    padding: 0.0em;
}

.mainnews-box>img,
.news-box>img {
    min-height: 35.0em;
    height: 35.0em;
}

/*
=================
ULTIME RECENSIONI
=================
*/

.titoloCritica {
    font-size: 15px;
}

#recensioni-critica p {
    font-size: 15px;
}

.contenutoRecensione li {
    font-size: 15px;
}

.contenutoRecensione li:last-child {
    padding-top: 0.8em;
}

.punteggio {
    max-height: 2em;
}


.scores {
    font-size: 34px;
}

#punteggioCritica,
#punteggioUtenti {
    margin-bottom: 1em;
}

#boxattributi {
    flex-direction: column;
    align-items: center;
}

#locandinagioco {
    width: 50%;
    height: auto;
}

#attributigioco {
    font-size: 26px;
    padding-bottom: 2em;
}

#lanostrarecensione {
    font-size: 26px;
}

#descrizione {
    font-size: 20px;
}

/*
==============
SEZIONE FOOTER
==============
*/

footer {
    margin-top: 3.0em;
    background-color: #F77F00;
    text-align: center;
}

#boxFooter img {
    width: 20%;
}

#aboutUs {
    padding-bottom: 0.2em;
    font-size: 0.4em;
}

#infoAzienda {
    padding-bottom: 0.5em;
    font-size: 0.4em;
}

/*
==================
PAGINA VIDEOGIOCHI
==================
*/

#sezioneVideogiochi {
    width: 100%;
    display: grid;
    object-fit: contain;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-row-gap: 4.0em;
    grid-column-gap: 2.0em;
    margin-top: 2.0em;
    margin-bottom: 5.0em;
    align-items: center;
    justify-items: center;
}

#sezioneVideogiochi img {
    width: 42.0em;
    height: 60.0em;
    padding-bottom: 4.0em;
    border-bottom: 1px solid #F77F00;
}

/*
=================
PAGINA DI ACCESSO
=================
*/

#logIn {
    padding-bottom: 28.5em;
}

/*
=================
PAGINA RECENSIONE
=================
*/

#recensioneGioco {
    padding-top: 19.0em;
}

#areaCommento {
    font-size: 1.5em;
}

#inviaCommento {
    font-size: 2.0em;
}


@media screen and (max-width: 820px) {
    #menu ul li {
        padding-left: 1.2em;
        padding-right: 1.2em;
        font-size: 1em;
    }

    #ricerca {
        padding-bottom: 0.5em;
        height: 0.8em;
    }

    #cerca img {
        padding-left: 0.5em;
        width: 50%;
        height: 1.2em;
    }

    #searchBar {
        width: 100%;
        font-size: 1em;
    }

    #areaRiservata img {
        width: 80%;
        height: 2em;
    }

    .scores {
        font-size: 16px;
    }

    #boxattributi {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
    }

    #locandinagioco {
        width: 35%;
        height: auto;
    }

    #attributigioco {
        font-size: 16px;
        padding-bottom: 2em;
    }

    #lanostrarecensione {
        font-size: 16px;
    }

    #descrizione {
        font-size: 16px;
    }

    #trama {
        padding-bottom: 1em;
    }
}


@media screen and (max-width: 600px) {
    #menu ul li {
        padding-left: 1.2em;
        padding-right: 1.2em;
        font-size: 0.8em;
    }
}


@media screen and (max-device-width: 600px) {

    #menu {
        margin-top: 2em;
    }

    #menu ul li {
        padding-left: 0.6em;
        padding-right: 0.6em;
        font-size: 2em;
        grid-row: 2;
        grid-column: 1;
    }


    #ricerca {
        padding-bottom: 0.8em;
        height: 1.4em;
    }

    #cerca img {
        padding-left: 0.5em;
        width: 100%;
        height: 2em;
    }

    #searchBar {
        width: 200%;
        font-size: 1.8em;
    }

    #areaRiservata img {
        width: 100%;
        height: 4em;
    }

    #navUtente {
        margin-top: 3.5em;
    }

    #breadcrumb {
        font-size: 1.8em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin-top: 1.5em;
    }

    h1 {
        font-size: 2.5em;
        margin-top: 3em;
        padding: 0.4em;
        border-radius: 7px;
        color: white;
        text-align: left;
        background-color: #F77F00;
        border: 0.5px solid #F77F00;
    }

}